.contat {
  content: "";
}

.contat::before,
.contat::after {
  position: absolute;
  content: "";
  width: 24px;
  aspect-ratio: 1;
  background: radial-gradient(
      circle 24px at bottom left,
      #0000 98%,
      oklch(97.788% 0.004 56.375)
    )
    top left;
}

.contat::before {
  top: 0;
  left: -24px;
}

.contat::after {
  right: 0;
  bottom: -24px;
}

.rotating-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-align: center;
  animation: rotateText 6s linear infinite;
}

.text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.text:nth-child(1) {
  animation: fadeInOut 6s infinite;
}

.text:nth-child(2) {
  animation: fadeInOut 6s 2s infinite;
}

.text:nth-child(3) {
  animation: fadeInOut 6s 4s infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
